Not sure if people are still stuck:

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Music</title>
</head>
<body>

<h3>My Albums</h3>
    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}
    <form action="{% url 'favorite' album.id %}" method="post">
        {% csrf_token %}
        <h3>Select favourite:</h3><br>
        {% for song in album.song_set.all %}
            <input type="radio" id="song{{ forloop.counter }}" name="song" value="{{ song.id }}">
            <label for="song{{ forloop.counter }}">
            {{ song.song_name }}
            {% if song.is_favorite %}
                <img src="http://icons.iconarchive.com/icons/paomedia/small-n-flat/1024/heart-icon.png" width="13px" height="13px" />
            {% endif %}
        </label><br>
        {% endfor %}
        <input type="submit" value="Favourite">
    </form>
</body>
</html>﻿